/* form {
    margin-left: 30%;
    margin-right:25%;
    width: 50%;
  }
  .login-form {
      max-width: 300px;
      margin-top: 150px;
      margin-left: 35%;
      float: left;
    }
    .login-form-forgot {
      float: right;
    }
  .login-form-button {
      width: 100%;
    }
  .signup-form-button {
      width: 100%;
    } */

   
.sign-in {
  width: 30vw;
  display: flex;
  flex-direction: column;
}
  .title {
    margin: 10px 0;
  }
